html {
	width: 100%;
	height: 100%;
}

a {
    color: #039BE5;
    text-decoration: none;
}

a:hover {
    color: #01579B;
}

body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: #EFEFEF;
	width: 100%;
	height: 100%;
}

#page {
	background: #fff;
}

#header {
	margin: 0;
	padding: 0;
    background-color: #3949AB;
    text-align: justify;
    padding: 0 20px;
    box-sizing: border-box;
}

#header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}

#content {
	padding: 0 20px 20px;
	overflow: auto;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding: 20px 0;
	font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.login-block {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-type: none;
}

.login-block li {
    margin: 8px 0;
}

.login-block a {
    text-decoration: none;
    color: #fff;
    opacity: .5;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.login-block a:hover {
    opacity: 1;
}

#mainmenu {
	background-color: #3F51B5;
}

#mainmenu ul {
	padding: 0;
	margin: 0;
    font-size: 0;
    height: 64px;
    line-height: 64px;
}

#mainmenu ul li {
	display: inline-block;
}

#mainmenu ul li a {
    display: inline-block;
	color: #ffffff;
    position: relative;
	background-color: transparent;
	font-size: 14px;
    text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	padding: 0 20px;
    box-sizing: border-box;
    opacity: .75;
    border-bottom: 0 solid #00BCD4;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#mainmenu ul li a:hover {
    opacity: 1;
} 

#mainmenu ul li a:active {
    opacity: 1;
    background-color: rgba(255,255,255,.2);
} 

#mainmenu ul li.active a{
    opacity: 1;
}

#mainmenu ul li.active a:after {
    content: '';
    height: 4px;
    width: 100%;
    display: block;
	background-color: #00BCD4;
    opacity: 1;
    bottom: 0;
    left: 0;
    position: absolute;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 14px;
	padding: 20px;
    font-weight: 700;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet {

}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}

.wrapper {
	padding: 20px;
}

#tabs {
	margin-left: -10px;
	padding-left: 0;
}

#tabs li {
	display: inline;
	padding: 0 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

#profile-wrapper .item .label {
	font-weight: bold;
	display: inline-block;
}

#profile-wrapper .item .value {
	display: inline-block;
}

/*
 * Edit profiles
 */
.profiles-data .label, .profiles-data .value {
	display: inline-block;
}

#passengers .item {
	border: 1px dotted;
	margin: 10px 0;
	padding: 10px;
}

#passengers .item .name {
	float: left;
}

#passengers .item .name span {
	border-bottom: 1px dashed;
	cursor: pointer;
}

#passengers .item .rule {
	float: right;
}

#passengers .item .data {
	clear: both;
	display: none;
	padding: 10px 0;
}

#passengers .item .data .label {
	font-weight: bold;
}

.grid-view table.items .row-status-0 td, .row-status-0 {
	background-color: #FFDBDB
}

.grid-view table.items .row-status-1 td, .row-status-1 {
	background-color: #FFF582
}

.grid-view table.items .row-status-2 td, .row-status-2 {
	background-color: #89EE89
}

.legends .legend-ico {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #ccc
}

.legends .legend {
	display: inline-block;
}

.legends .row {
	margin: 4px 0;
}

.legends {
	margin: 10px 0;
}

.inline {
	display: inline !important;
}

.center {
	text-align: center;
}

/*div.trips-dir input[type="submit"] {*/
/*background-color: darkorange;*/
/*}*/

.trips {
	background-color: #039BE5;
    border-radius: 4px;
    color: #fff;
    padding: 4px 6px;
    width: 100%;
    border: 0;
    cursor: pointer;
    margin: 0 0 2px;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.trips-full {
	background-color: green;
}

.trips-notfull {
	background-color: orange;
}

.trips-empty {
	background-color: #039BE5;
}

.trips-empty:hover {
    background-color: #01579B;
}

[value=""]

#trips-sheet .button-column {
	text-align: left;
	white-space: nowrap;
}

.save-line, .cancel-line {
	background: #008800;
	color: #fff;
	cursor: pointer;
	padding: 2px;
	margin: 0 2px;
	display: inline-block;
}

.cancel-line {
	background: red;

}

input.error, textarea.error {
	background: #FEE;
	border-color: #C00;
}

#overlay-loading {
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 100%;
}

#loader {
	background: url(../images/ajax-loader.gif);
	width: 32px;
	height: 32px;
	top: 50%;
	margin-top: -16px;
	margin-left: -16px;
	left: 50%;
	position: fixed;
}

.ui-autocomplete-loading {
	background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}

.ui-menu .ui-menu-item {
	white-space: nowrap;
	font-size: 0.9em;
}

body .ui-menu .ui-menu-item a.ui-state-active,
body .ui-menu .ui-menu-item a.ui-state-focus {
	font-weight: normal;
	margin: 0px
}

body .ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px;
	line-height: 1.5;
	zoom: 1;
	font-weight: normal;
	border: 1px solid #fff;
}

#select-bus {
	display: none;
	margin: 10px;
	width: 100%;
}

select.autocomplete {
	width: 103px;
	margin-bottom: 2px;
}

table#main {
    border-collapse: collapse;
}

table#main .weekday td{
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
    border-bottom: 1px solid #ccc;
    padding: 28px 10px 8px 18px;
}

table#main .date {
    margin-bottom: 10px;
    display: inline-block;
    color: #333;
    height: 32px;
    width: 32px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

table#main caption {
    padding: 20px;
    text-align: justify;
}

table#main caption:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}

table#main caption .month {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

table#main caption .calendar-control {
    display: inline-block;
}

table#main caption .calendar-control select{
    border: 0;
    border-bottom: 1px solid #039BE5;
    color: #333;
    margin: 4px 0 0 18px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

table#main caption .calendar-control select:active {
    background-color: rgba(255,255,255,.5);
}

table#main caption .calendar-control select:active, table#main caption .calendar-control select:hover{
    border-bottom: 1px solid #01579B;
}

table#main caption .calendar-control select option {
    color: #fff;
    font-size: 14px;
    background-color: #01579B;
}

table#main td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}

table#main .current-date {
    background-color: #f3f3f3;
}

table#main .current-date .date {
    background-color: #E91E63;
    color: #fff;
    font-weight: 700;
}

.current-month {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #039BE5;
    transition: all .1s ease-in-out; 
    overflow: hidden;
    vertical-align: middle;
    background-image: url(../images/cal.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.btn-current-month {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.btn-current-month-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px !important;
}

.btn-current-month-icon:before {
    font-size: 16px;
    color: #fff;
}

.current-month:hover {
    background-color: #01579B;
}