AddDefaultCharset UTF-8

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteEngine on
# otherwise forward it to index.php
RewriteRule . index.php

RewriteRule ^/UserInterface/default/index/step/(.*)$ /checkout/$1 [L]