@font-face {
	font-family: 'Decima';
	src: url('../fonts/dnp.eot');
	src: url('../fonts/dnp.eot') format('embedded-opentype'),
	url('../fonts/dnp.woff2') format('woff2'),
	url('../fonts/dnp.woff') format('woff'),
	url('../fonts/dnp.ttf') format('truetype'),
	url('../fonts/dnp.svg#DecimaNovaPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Decima';
	src: url('../fonts/dnpbold.eot');
	src: url('../fonts/dnpbold.eot') format('embedded-opentype'),
	url('../fonts/dnpbold.woff2') format('woff2'),
	url('../fonts/dnpbold.woff') format('woff'),
	url('../fonts/dnpbold.ttf') format('truetype'),
	url('../fonts/dnpbold.svg#DecimaNovaProBold') format('svg');
	font-weight: bold;
	font-style: normal;
}